header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: rgb(34, 33, 38);
   color: white;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-sizing: border-box;
   z-index: 1000;
}

h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-stretch: semi-expanded;
   margin: 0;
   padding-right: 1rem;
}

/**Smaller screen adjustments**/

@media (max-width: 768px) {
   header {
      padding: 0.5rem;
   }

   h1 {
      font-size: 1.2rem;
      padding-right: 0.5rem;
   }
}
